<footer>
  <div class="container footer">
    <h2>Este es el footer</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam voluptatem error autem consequuntur? Quibusdam, delectus! Sequi illo quaerat, atque ad tenetur, sunt ab eos dolor voluptates perspiciatis animi autem?</p>
  </div>
</footer>